*,
body {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Fakt Pro";
  font-style: normal;
  font-weight: 400;
  src: url("https://github.com/awt2542/FramerSite/blob/master/static/css/fonts/FaktPro-Normal.eot"); /* IE9 Compat Modes */
  src: url("https://github.com/awt2542/FramerSite/blob/master/static/css/fonts/FaktPro-Normal.eot?#iefix")
      format("embedded-opentype"),
    url("https://github.com/awt2542/FramerSite/blob/master/static/css/fonts/FaktPro-Normal.woff")
      format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Fakt Pro";
  font-style: normal;
  font-weight: 500;
  src: url("https://github.com/awt2542/FramerSite/blob/master/static/css/fonts/FaktPro-Medium.eot"); /* IE9 Compat Modes */
  src: url("https://github.com/awt2542/FramerSite/blob/master/static/css/fonts/FaktPro-Medium,.eot?#iefix")
      format("embedded-opentype"),
    url("https://github.com/awt2542/FramerSite/blob/master/static/css/fonts/FaktPro-Medium.woff")
      format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: "Fakt Pro";
  font-style: normal;
  font-weight: 700;
  src: url("https://github.com/awt2542/FramerSite/blob/master/static/css/fonts/FaktPro-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("https://github.com/awt2542/FramerSite/blob/master/static/css/fonts/FaktPro-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://github.com/awt2542/FramerSite/blob/master/static/css/fonts/FaktPro-SemiBold.woff")
      format("woff"); /* Modern Browsers */
}

a {
  font-family: "Fakt Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  color: rgb(10, 132, 174);
  text-decoration: none;
  cursor: pointer;
}

.App {
  height: 100vh;
  padding: 1rem;
  margin: 0;
  background: #f9f9f9;
}

.Container {
  display: inline-block;
  width: 100%;
}

.CardStack {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}

.Card {
  display: block;
  width: calc(100vw / 4);
  min-width: 300px;
  margin: 0.5rem;
  background: #fff;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in;
  border-radius: 20px;
}

.Card:hover {
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
  transition: all 0.3s ease-out;
}

.AvatarWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 5rem;
  padding: 1rem 0;
}

.Avatar {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 8px;
}

.StatusOff {
  position: absolute;
  align-self: flex-start;
  background: rgb(241, 241, 241);
  border-radius: 50%;
  border: 2px solid #fff;
  height: 0.75rem;
  width: 0.75rem;
  margin: 16px 0 0 28px;
}

.StatusOn {
  position: absolute;
  align-self: flex-start;
  background: #4cd964;
  border-radius: 50%;
  border: 2px solid #fff;
  height: 0.75rem;
  width: 0.75rem;
  margin: 16px 0 0 28px;
  animation: 0.5s ease infinite blip;
}

.Title {
  font-family: "Fakt Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: center;
  color: rgb(33, 33, 33);
  padding: 0 1.5rem;
}

.Description {
  font-family: "Fakt Pro", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: center;
  color: white;
  padding: 0.75rem 1rem 1.5rem 1rem;
  background-image: url(https://i.imgur.com/Li42eBv.png);
}

.Actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(208, 210, 211, 0.4);
  margin: 0 1rem;
  padding: 1rem 0;
}

.Link {
  color: rgb(10, 132, 174);
  text-decoration: none;
}

.Link:hover {
  color: rgb(5, 59, 78);
}

.Primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1px;
  white-space: nowrap;
  text-transform: uppercase;
  color: rgb(51, 51, 51);
  cursor: pointer;
  background: rgb(241, 241, 241);
  border: 1px solid rgb(241, 241, 241);
  border-radius: 3px;
  padding: 0px 16px;
  transition: border-color 0.25s ease 0s, background 0.25s ease 0s;
}

.Primary:hover {
  color: rgb(51, 51, 51);
  background: rgb(233, 232, 232);
  border-color: rgb(233, 232, 232);
}

.Secondary {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  line-height: 32px;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  opacity: 1;
  cursor: pointer;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(208, 210, 211);
  border-image: initial;
  border-radius: 3px;
  padding: 0px 16px;
  transition: border-color 0.25s ease 0s, background 0.25s ease 0s;
}

.Secondary:hover {
  color: rgb(51, 51, 51);
  background: rgba(0, 0, 0, 0.05);
  border-color: rgb(181, 183, 184);
}

@keyframes blip {
  from {
    border: 2px solid #4cd964;
  }
  to {
    border: 2px solid #fff;
  }
}
